---
layout: default
onepage: true
services:
  - title: Interesting Places
    icon: fa fa-map-marker
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus.
    url: "interesting_places"
  - title: Reading list
    icon: fa fa-book
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus.
    url: "reading-list"
  - title: Documentation guidelines
    icon: fa fa-bookmark-o
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus.
    url: "guidelines"
members:
  - avatar: /assets/images/@stock/member-7.png
    name: Lily Jebari
    position: Founder
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "As the founder and CEO of Wrap, and as an interactions and visual design specialist, she knows that user- centred and easy-to-use design is an essential way to distinguish a good product and an awesome product."
  - avatar: /assets/images/@stock/member-9.png
    name: Mark Wayne
    position: Creative Director
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: dribbble
    desc:
      "Mark started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Mark’s role means solving all kinds of visual design problems."
  - avatar: /assets/images/@stock/member-8.png
    name: Clare Watson
    position: Front-end Developer
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://tumblr.com
        icon: tumblr
    desc:
      "Clare is a senior front-end developer here at Wrap, specialises in building blocks of the web: HTML, CSS, and JavaScript. She has almost ten years experiencs in the front-end development."
  - avatar: /assets/images/@stock/member-4-4.png
    name: Jone Bucan
    position: Senior Designer
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Jone started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Jone’s role means solving all kinds of visual design problems."

team_slides:
  - /assets/images/@stock/slide-full-1.jpg
  - /assets/images/@stock/slide-full-8.jpg
  - /assets/images/@stock/slide-full-11.jpg
  - /assets/images/@stock/slide-full-10.jpg

testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Designer at Huglab'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Designer at Huglab'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Designer at Huglab'

clients:
  - /assets/images/Iaac_logo_black.png
  - /assets/images/elisava-black.jpg
  - /assets/images/fabacademy-logo.jpg
  - /assets/images/Ideas4Change-logo.jpg
  - /assets/images/kickstarter-logo.jpeg
  - /assets/images/academany-logo.png
  - /assets/images/seeed-logo.png
  - /assets/images/space10-logo.png
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <!--<video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/@stock/cover-video.optimized.mp4" | relative_url }}' type='video/mp4'>
    </video>-->
    <img src='{{ "/assets/images/sample-banner.jpg" | relative_url }}' />
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Make the right choice </p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">Ready to design for</span><br/>
         <span class="sec">Emergent futures?</span><br/>
      </h1>
      <a href="#" class="btn-blue">Apply now!</a>
      <h2 class='thin'>
      </h2>
    </div>
  </div>
</div>

<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        {% include section-title.html small_title="about" title="About" %}
        <p class="light" style="color: black">Innovation is not an option, it is a necessity.</p>
      </div>
    </div>
  </div>
</div>
<div class="full no-overflow no-padding parallax" style="background-image: url({{"/assets/images/sample-02.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>EmeRGENT FUTURES</h2>
    </div>
    <p class="light">
      The aim of this master is to provide
      the strategic vision and tools for
      designers, sociologists, economists
      and computer scientists, to become
      agents of change in multiple professional environments. The programme focuses on the design of
      interventions in the form of products,
      platforms and deployments that aim
      to produce new emergent futures by
      previously analysing the current
      challenges in society and industry.
    </p>
  </div>
</div>



<a id='works'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="take a look" title="Student projects" %}
    </div>
  </div>
</div>
<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for work in site.data.student-projects  %}

        {% if work.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.image | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.name | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>


<div class="full grey no-padding no-overflow">

  <div class="row">
    <div class='large-8 columns large-centered'>
      <div class="four spacing"></div>
      {% include section-title.html small_title="Contents" title="2018 - 2019" %}
    </div>
  </div>

  {% assign terms = site.collections | where: 'show', 'true' %}


  {% for item in terms %}
  <div class='large-4 columns'>
    <div class='mod modBlogPost simple'>
      <div class='content'>
        <p class='date'>{{ item.starts | date: "%B %d, %Y" }}</p>
        <h3><a href="{{ item.label | relative_url }}.html">{{item.label}}</a></h3>
        <div class='spacing'></div>
        <p>
        <a class='btn-blue' href='{{ item.label | relative_url }}.html'>Read more</a>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- TODO: dont have this hardcoded, this is a duplicate of the block above -->
  <div class='large-4 columns'>
    <div class='mod modBlogPost simple'>
      <div class='content'>
        <p class='date'>{{ '2018-11-11' | date: "%B %d, %Y" }}</p>
        <h3><a href="{{ 'shenzen' | relative_url }}">Research trip</a></h3>
        <div class='spacing'></div>
        <p>
        <a class='btn-blue' href='{{ "shenzen" | relative_url }}'>Read more</a>
        </p>
      </div>
    </div>
  </div>

  <div class="four spacing"></div>
</div>


<a id='projects'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="take a look" title="Useful Information" %}
    </div>
  </div>
</div>


<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
        {% include service.html service=item %}
    {% endfor %}
  </div>
</div>


<div class="section-title">
  <div class="three spacing"></div>
  {% include section-title.html small_title="calendar" title="Calendar" %}

  <iframe src="https://calendar.google.com/calendar/embed?src=iaac.net_ubvsvit3pnhj5c0vv0hf9mphis%40group.calendar.google.com&ctz=Europe%2FMadrid" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<!--
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="what students say" title="testimonials" %}
    </div>
  </div>
</div>

<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/customers-bg.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="stuff" title="our partners" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="four spacing"></div>
<a id='contact'></a>

{% include social-networks.html %}
