---
title: MDEF 2018
cover-photo: assets/images/lunar.jpg
cover-photo-alt: example cover photo
auto-header: none
icon: fa-comment
order: 1
---
<header>
  <h2 class="alt" style="color:white; background: #000; opacity: 0.8">Ready to design for Emergent Futures?</h2>
</header>


