---
layout: default
onepage: true
---

<div class="full">
  <div class="row">
    <div class="large-8 columns large-centered">
      <h1>h1 heading</h1>
      <h2>h2 heading</h2>
      <h3>h3 heading</h3>
      <h4>h4 heading</h4>
      <h5>h5 heading</h5>
      <h6>h6 heading</h6>
      <p>p pararaph</p>
      <p> <small>small paragraph</small> </p>
      <p> <strong>strong paragraph</strong> </p>

      <button class="">Normal Button</button>
      <button class="btn-blue">btn-blue Custom Button</button>

      <p>Buttons from Foundation docs:</p>
      <a class="button primary" href="#">Primary</a>
      <a class="button secondary" href="#">Secondary</a>
      <a class="button success" href="#">Success</a>
      <a class="button alert" href="#">Alert</a>
      <a class="button warning" href="#">Warning</a>

      <h3>Links</h3>
      <a href="http://www.url.com" target="_blank">Anchor Text</a>

    </div>
  </div>
</div>
