<div class="full no-padding dark">
  <div class="four spacing"></div>
  <div id="footer" class='centered-text'>
    <div class="row">
      <div class="col-md-6">
        <span>
          <img class="small-logo" src='{{"/assets/images/iaac2.png" | relative_url }}'/>
          <img class="small-logo" src='{{"/assets/images/elisava-Logo.png" | relative_url }}'/>
        </span>
      </div>
    </div>
  </div>
  <div class="four spacing"></div>
</div>

{% for path in site.data.assets.js %}    

  {%- if path contains '://' -%}
    {%- assign src = path -%}
  {%- else -%}
    {%- assign src = path | relative_url -%}
  {%- endif -%}

  <script src="{{ src }}" type="text/javascript"></script>
{% endfor %}