<div class='medium-6 large-4 columns'>
  <div class='mod modIconText moveup' data-delay='0' style="height: 362px;">
  <div class='icon-text-advanced' data-bg="{{ include.service.bg | relative_url }}">
    <div class='wrapper'>
      <div class='content'>
        <i class='{{ include.service.icon }}'></i>
      </div>
    </div>
    <h3><a href="{{include.service.url}}">{{ include.service.title | escape }}</a></h3>
    <div>
      <a class='btn-blue' href="{{include.service.url}}">Read more</a>
    </div>
    <div class="spacing"></div>
  </div>
</div>
</div>