<div class='full parallax social-networks' style="background-image: url({{ "/assets/images/sample-01.jpg" | relative_url }})">
  <div class='two spacing'></div>
  <div class='row'>
    <div class='medium-2 columns'>
      <div class='big-social'>
        <a href='https://www.facebook.com/IAACbcn/'>
          <i class='fa fa-facebook'></i>
        </a>
        <h4>Facebook</h4>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-2 columns'>
      <div class='big-social'>
        <a href='https://twitter.com/iaac'>
          <i class='fa fa-twitter'></i>
        </a>
        <h4>Twitter</h4>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-2 columns'>
      <div class='big-social'>
        <a href='https://www.linkedin.com/school/institute-for-advanced-architecture-of-catalonia/'>
          <i class='fa fa-linkedin-square'></i>
        </a>
        <h4>LinkedIn</h4>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-2 columns'>
      <div class='big-social'>
        <a href='https://www.instagram.com/iaacbcn/'>
          <i class='fa fa-instagram'></i>
        </a>
        <h4>Instagram</h4>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-2 columns'>
      <div class='big-social'>
        <a href='mailto:info@fablabbcn.org'>
          <i class='fa fa-envelope'></i>
        </a>
        <h4>Email</h4>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-2 columns'>
      <div class='big-social'>
        <a href='https://iaac.net/wp-content/uploads/2019/03/IAAC-MDEF-Booklet-2019.pdf'>
          <i class='fa fa-bookmark'></i>
        </a>
        <h4>Booklet</h4>
      </div>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>