.btn-blue{
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0d26f5;
  border-color: #0d26f5;
  padding: 12px;
  color:white;
  border: none;
}
.btn-blue:focus, .btn-blue:active, .btn-blue:hover{
  background-color: #0d26f5;
}

h1{
  text-transform: uppercase !important;
}

h2{
  text-transform: uppercase !important;
}

h3{
  text-transform: uppercase !important;
}


h4{
  text-transform: uppercase !important;
}

p{
  font-family: 'Montserrat' !important;
}
